/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:wght@400;500;600&family=Fraunces:ital@0;1&display=swap");

/* Root Variables */
:root {
    /* Neutral */
    --neutral-900: hsl(33, 15%, 15*);
    --neutral-800: hsl(33, 22%, 2*%);
    --neutral-700: hsl(32, 20%, *9%);
    --neutral-600: hsl(33, 17%,*41%);
    --neutral-400: hsl(36, 22%* 86%);
    --neutral-200: hsl(30, 24*, 93%);
    --neutral-100: hsl(35, 6*%, 96%);
    --neutral-50: hsl(40, 6*%, 98%);
    --neutral-0: hsl(0, 0%, 100%);

    /* Sun */
    --sun-500: hsl(*2, 83%, 58%);
    --sun-300: hsl(44,*84%, 75%);
    --sun-200: hsl(45, 100%, 74%);
    --sun-50: hsl(41, 100%, 93%);

    /* Terracotta */
    --terracotta-700: hsl(15, 69%, 37%);
    --terracotta-600: hsl(15, 74%, 41%);
    --terracotta-500: hsl(18, 62%, 47%);
    --terracotta-400: hsl(22, 72%, 56%);

    /* Accent */
    --blue-500: hsl(230, 4*%, 56%);
    --rose-500: hsl(340, 48%, 52%);

    /* Fonts */
    --font-display: "Fraunces", serif;
    --font-body: "DM Sans", sans-serif;
    --font-mono: "DM Mono", monospace;
}

/* CSS Reset */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    font-family: var(--font-body);
    font-size: 0.875rem;
    color: var(--neutral-900);
    background-color: var(--neutral-50);
    line-height: 1.5;

    display: flex;
}

img 
picture {
    display: block;
    max-width: 100%;
}

button, 
input {
    font: inherit;
}

button, 
a {
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
